body div header,
h3 {
    padding: 25px;
}

h2,
h3 {
    text-align: center;
    font-size: x-large;
}

#form {
    padding-left: 40px;
    padding-bottom: 25px;
}

.backgroundbody {
    background-image: linear-gradient(to left bottom,
            #36D72F,
            #21D059,
            #0089E2);
    /*To stop the repection for background linergradient*/
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Algin the view in center*/
    justify-content: center;
    padding-top: 7%;
}

body {
    justify-content: center;
}

.inputfield {
    height: 35px;
    width: 80%;
    background-image: linear-gradient(#8AE5C0);
}

.outerinput {
    border-radius: 5px;
    background-color: #8AE5C0;
    width: 65%;
}

.outerinput2 {
    border-radius: 2%;
    margin-top: 18px;
    background-color: #8AE5C0;
    width: 65%;
}

#btn {
    height: 40px;
    width: 50px;
    font-size: large;
}

#btn:hover {
    border: 3px solid black;
    background-color: #0089E2;
}

#btn:active {
    transform: translateY(4px);
    background-color: #36D72F;
}

.listview {
    display: flex;
}

.btnedit {
    position: absolute;
    right: 40%;
    margin-top: 10px;
    width: 40px;
    height: 25px;
}

.btndelete {
    position: absolute;
    right: 35%;
    margin-top: 10px;
    width: 40px;
    height: 25px;
}

.btnedit:hover,
.btndelete:hover {
    background-color: #0089E2;
    border: 2px solid black;
}

#error {
    font-size: larger;
    color: red;
    padding-left: 35%;
}

.view {
    padding-left: 60px;
}

.btnedit:active,
.btndelete:active {
    transform: translateY(4px);
    background-color: #36D72F;
}

#listValue {
    font-size: large;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.toast {
    position: absolute;
    bottom: 50%;
    right: 29%;
    font-size: larger;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(234, 87, 87);
    color: #000000;
    font-weight: bolder;
    border-radius: 5px;
}

@media (max-width: 20000px) {
    .backgroundbody{        
        margin-left: 30%;
        }
  } 
  
  @media (max-width: 600px) {
    .backgroundbody{        
        margin-left: 10%;
        padding-right: 15%;
        }
    .outerinput {
        width: 100%;    
        right: 45%;

    }
    .outerinput2{
        width: 100%;    
        right: 45%;
    }
    .btnedit{
        right: 30%;
    }
    .btndelete{
        right: 20%;
    }
    .view{
        padding-left: 1%;
    }
  }